<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>techBlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Code Dad</h1>
    <p class="lead">Dad jokes for programmers.</p>
  </div>
</div>



  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse.show" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>

{{#unless logged_in}}
      <li class="nav-item">
        <a class="nav-link" href="/user/login">Log In</a>
      </li>
{{/unless}}


{{#if logged_in}}
      <li class="nav-item">
        <a class="nav-link" href="/user/logout">Log Out</a>
      </li>
{{/if}}  
    </ul>
  </div>
</nav>



<div>
{{{body}}}
</div>

 
</body>

</html> 