<div class="card">
  <h5 class="card-header">
    <div class = 'postName'></div> 
  
  </h5>
  <div class="card-body">

 <div class="input-group">

<div class="input-group mb-3">
  <span class="input-group-text" id="basic-addon3">Username  </span>
  <textarea class="form-control" aria-label="With textarea" rows= 1 id='username-signup' ></textarea>
</div>

  <span class="input-group-text">Password</span>
  <textarea class="form-control" aria-label="With textarea" rows= 1 id='password-signup' ></textarea>
</div>
<button type="button" class="btn btn-primary"  id = 'signupSubmit'> Sign Up!</button>
<button type="button" class="btn btn-warning" id= 'logInInstead' > <a href= "/user/login">Login Instead</a></button>

  </div>


</div>

<script type="text/javascript" src="/js/signup.js"></script>